body {
    background:black
}

header {
    text-align: center;
    font-family: 'Bowlby One', cursive;
}

h1 {
    font-size: 50px;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Bowlby One', cursive;
    color:white;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: bold;
    font-family: 'Bowlby One', cursive;
    color:white;
}


h4 {
    text-align: right;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 15px;
    font-weight: bold;
    font-family:'Open Sans', sans-serif;
    color:white;
}

p {
    line-height: 1.6;
    font-size: 20px;
    margin-top: 50px;
    font-weight: normal;
    font-family:'Open Sans', sans-serif;
    color:white;
}

ul {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.grid { 
    width: 31%;
    display: inline-block;
    padding: 10px;
  }
  
li {
    display: inline-block;
    margin: 10px;
}

a { color:white;} /* Globally */

/* Each state */

a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:lavender; }
a:focus { text-decoration: none; color:lavender; }
a:hover, a:active { text-decoration: none; color: lavender; }